// 変数作成用パーシャルファイル

/***************************************************************
                          Color Settings
****************************************************************/


/*宇宙背景ver. カラーリング*/

$space-background:#212E45; //宇宙背景カラー
$space-green: #CFED47; //宇宙背景用アクセントカラー （アイコン）
$space-lightgreen:lighten($space-green, 30%); //宇宙背景用アクセントカラー（サブタイトル
$space-gray: #4E586A; //宇宙背景用サブカラー　（白20%透過色　アイコンの丸背景、タイトルのボーダー、サブテキスト）
$space-text: #d4d9e2; //宇宙背景用テキストカラー
$space-link: #C7D7F2; //宇宙背景用リンクカラー

/*地球背景ver. カラーリング*/

$earth-background: #ACCC1E; //地球背景カラー
$earth-text: #f7f7f7; //地球背景用テキストカラー
// $earth-text-dark: darken(#ddeaa3, 50%); //ライト背景用テキストカラー
$earth-text-shadow: darken($earth-background, 15%); //earthtext専用テキストシャドウ
$earth-light1: #ddeaa3; //地球背景用ライトカラー1//タイムライン背景&文字で利用
$earth-light2: #B1DC27; //地球背景用ライトカラー2（サブエリア背景カラー）
// $earth-light3: lighten($earth-background, 10%); //いまのところ利用なし
$earth-blue1:#39433b; //地球背景用アクセントカラー1
// $earth-blue2: #335788; //地球背景用アクセントカラー2 （サブタイトル、サブコンテンツ）
$earth-red: #FF192D; //地球背景用アクセントカラー２（スキル用赤ハート）
//$earth-link: #C7D7F2; //地球背景用リンクカラー ※未使用のためカラー未調整
// $earth-green: #3e4811; //地球背景用アクセントカラー３（スキルエリア背景）

/***************************************************************
                          Size Settings
****************************************************************/