@import "variable";
@import "mixin";

/***********************************************************
                        WORKS
***********************************************************/

.works {
    @include base-area--pc($space-background);
    &__title {
        @include section-title--pc;
    }
    &__description {
        @include sentence--pc--basic($space-text);
        a {
            letter-spacing: 0.2rem;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .joblist {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        &__items {
            width: 25%;
            .job__icon {
                $icon-size: 6rem;
                $icon-padding: 1.5rem;
                width: 200px;
                height: 200px;
                border-radius: 100%;
                margin: auto;
                background-color: $space-gray;
                box-sizing: border-box;
                padding: 30px;
                text-align: center;
                &:before {
                    font-family: 'pikufont';
                    font-size: $icon-size;
                    color: $space-green;
                }
                &:after {
                    display: block;
                    padding-top: $icon-padding;
                    font-size: 1rem;
                    letter-spacing: 0.1rem;
                    color: $space-lightgreen;
                }
                &--uiux {
                    &:before {
                        content: "\e9c0";
                        font-size: $icon-size + 1rem;
                    }
                    &:after {
                        content: "UI/UX DESIGN";
                        padding-top: $icon-padding - 1rem;
                    }
                }
                &--uxwriting {
                    &:before {
                        content: "\ea13";
                    }
                    &:after {
                        content: "UI/UX WRITING";
                    }
                }
                &--direction {
                    &:before {
                        content: "\e9f1";
                    }
                    &:after {
                        content: "DIRECTION";
                    }
                }
                &--planning {
                    &:before {
                        font-size: $icon-size - 0.5rem;
                        content: "\e9f2"; //地図
                    }
                    &:after {
                        content: "PLANNING";
                        padding-top: $icon-padding + 0.5rem;
                    }
                }
            }
            .job__description {
                box-sizing: border-box;
                padding: 30px 15px 60px 15px;
                @include sentence--pc--basic($space-text);
            }
        }
    }
    .job-rate {
        h3 {
            @include sentence--pc--large($space-lightgreen);
            text-align: center;
            font-weight: normal;
            line-height: 4rem;
        }
        .ratebar {
            position: relative;
            display: block;
            box-sizing: border-box;
            width: 100%;
            height: 90px;
            border: 1px solid darken($space-background, 5%);
            .barparts {
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                .barblock {
                    display: block;
                    box-sizing: border-box;
                    width: 100%;
                    padding: 1rem;
                    text-align: center;
                    font-size: 1.0rem;
                    letter-spacing: 0.1rem;
                    color: white;
                }
                .barnum {
                    display: none;
                }
                .bartitle {
                    display: inline;
                }
                .percnum {
                    padding-top: 5px;
                    font-size: 1.6rem;
                    &:after {
                        content: "%";
                        font-size: 0.8rem;
                    }
                }
                &--1 {
                    z-index: 5;
                    background-color: lighten($space-green, 10%);
                    width: 45%;
                    .barblock {
                        color: darken($space-green, 40%);
                        font-weight: bold;
                    }
                }
                // &--2 {
                //     z-index: 4;
                //     background-color: darken($space-green, 20%);
                //     width: 40%;
                //     .barblock {
                //         padding-left: (65% * 1.25);
                //     }
                // }
                &--3 {
                    z-index: 3;
                    background-color: darken($space-green, 30%);
                    width: 75%;
                    .barblock {
                        padding-left: (80% * 0.8);
                    }
                }
                &--4 {
                    z-index: 2;
                    background-color: darken($space-green, 40%);
                    width: 90%;
                    .barblock {
                        padding-left: (85% * 1);
                    }
                    .bartitle {
                        font-size: 0.9rem;
                        padding-bottom: 0.1rem;
                    }
                }
                &--5 {
                    z-index: 1;
                    background-color: darken($space-green, 50%);
                    width: 100%;
                    .barblock {
                        padding-left: (95% * 0.96);
                    }
                    .bartitle {
                        font-size: 0.9rem;
                        padding-bottom: 0.1rem;
                    }
                }
            }
        }
        .ratedfn {
            display: none;
        }
    }
    .jobcase {
        margin-top: 100px;
        &__title {
            border-bottom: 2px solid $space-gray;
            border-top: 2px solid $space-gray;
            padding: 1rem;
            text-align: center;
            h3 {
                @include sentence--pc--large($space-lightgreen);
                font-weight: normal;
            }
            aside {
                @include sentence--pc--small($space-text);
            }
        }
        &__description {
            @include sentence--pc--basic($space-text);
            margin: 20px 0;
        }
        &__images {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 40px;
            div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 48%;
                a {
                    img {
                        box-sizing: border-box;
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                    }
                }
                .pc {
                    width: 100%;
                }
                .mobile {
                    width: 46%;
                }
            }
        }
    }
    .jobdetails {
        margin-top: 80px;
        &__title {
            @include sentence--pc--basic($space-lightgreen);
            text-align: center;
            margin: 20px;
        }
        &__description {
            @include sentence--pc--small(white);
            text-align: center;
            margin-bottom: 15px;
        }
        &__list {
            margin-bottom: 30px;
        }
        &__area {
            @include sentence--pc--small(white);
            box-sizing: border-box;
            border-radius: 10px;
            padding: 20px 50px 5px;
            background-color: $space-gray;
            &__exam {
                // color: darken(white, 40%);
                color: white;
                opacity: 0.4;
            }
        }
    }
    /***********************************************************
                       JOBRATE用ブレイクポイント
    ***********************************************************/
    @media (max-width: 1150px) {
        .job-rate {
            .ratebar {
                .barparts {
                    .barblock {
                        padding-bottom: 0.5rem;
                    }
                    .barnum {
                        background-color: white;
                        display: inline-block;
                        box-sizing: border-box;
                        width: 1.4rem;
                        height: 1.4rem;
                        border-radius: 1rem;
                        font-size: 1.15rem;
                    }
                    &--1 {
                        .barnum {
                            display: inline-block;
                            background-color: darken($space-green, 40%);
                            color: lighten($space-green, 10%);
                            font-weight: normal;
                            padding-left: 1px;
                        }
                    }
                    &--2 {
                        .barnum {
                            display: inline-block;
                            color: darken($space-green, 20%);
                            padding-top: 1px;
                            padding-left: 1px;
                        }
                    }
                    &--3 {
                        .barnum {
                            display: inline-block;
                            color: darken($space-green, 30%);
                            padding-top: 1px;
                            padding-left: 1px;
                        }
                    }
                    &--4 {
                        .barblock {
                            padding-left: (85% * 1.01);
                        }
                        .barnum {
                            display: inline-block;
                            color: darken($space-green, 40%);
                        }
                        .bartitle {
                            display: none;
                        }
                        .percnum {
                            letter-spacing: 0.01rem;
                        }
                    }
                    &--5 {
                        .barblock {
                            padding-left: (95% * 0.97);
                        }
                        .barnum {
                            display: inline-block;
                            color: darken($space-green, 50%);
                        }
                        .bartitle {
                            display: none;
                        }
                        .percnum {
                            letter-spacing: 0.01rem;
                        }
                    }
                }
            }
            .ratedfn {
                display: flex;
                flex-wrap: wrap;
                margin-top: 15px;
                &--item {
                    width: 30%;
                    letter-spacing: 0.15rem;
                    color: $space-lightgreen;
                    margin-bottom: 15px;
                    opacity: 0.7;
                }
                &--num {
                    display: inline-block;
                    color: $space-background;
                    background: $space-lightgreen;
                    border-radius: 1rem;
                    width: 1.4rem;
                    height: 1.4rem;
                    box-sizing: border-box;
                    padding-left: 5px;
                    border-radius: 1.15rem;
                    font-size: 1.15rem;
                }
                &--title {
                    display: inline-block;
                    margin-left: 5px;
                    font-size: 0.8rem;
                }
                &--perc {
                    display: none;
                    padding-left: 5px;
                    font-size: 1.2rem;
                    color: $space-green;
                    u {
                        font-size: 0.5rem;
                        color: $space-lightgreen;
                    }
                }
                &__1 {
                    display: none;
                }
                &__2 {
                    display: none;
                }
                &__3 {
                    display: none;
                }
            }
        }
    }
    // @media(max-width: 960px) {
    //     .job-rate {
    //         h3 {
    //             @include sentence--tablet--large($space-lightgreen);
    //             line-height: 3.5rem;
    //         }
    //         .ratebar {
    //             .barparts {
    //                 &--2 {
    //                     .bartitle {
    //                         display: none;
    //                     }
    //                 }
    //             }
    //         }
    //         .ratedfn {
    //             &__2 {
    //                 display: block;
    //             }
    //         }
    //     }
    // }
    @media(max-width: 880px) {
        .job-rate {
            h3 {
                @include sentence--tablet--large($space-lightgreen);
                line-height: 3.5rem;
            }
            .ratebar {
                .barparts {
                    &--1 {
                        .bartitle {
                            display: none;
                        }
                    }
                }
            }
            .ratedfn {
                &__1 {
                    display: block;
                    width: 50%;
                }
            }
        }
    }
    @media (max-width: 780px) {
        .job-rate {
            .ratebar {
                height: 50px;
                .barparts {
                    .barblock {
                        padding-bottom: 0.4rem;
                    }
                    .bartitle {
                        display: none;
                    }
                    // 
                    .percnum {
                        display: none;
                    }
                }
            }
            .ratedfn {
                margin-top: 20px;
                &--item {
                    width: 50%;
                }
                &--perc {
                    display: inline-block;
                }
                &__1 {
                    display: block;
                    width: 60%;
                }
                &__2 {
                    display: block;
                }
                &__3 {
                    display: block;
                }
            }
        }
    }
    @media (max-width: 580px) {
        .job-rate {
            h3 {
                @include sentence--mobile--large($space-lightgreen);
                line-height: 3rem;
            }
            .ratedfn {
                &__1 {
                    width: 80%;
                }
            }
        }
    }
    /***********************************************************
                       JOBLIST用ブレイクポイント
    ***********************************************************/
    @media (max-width: 1200px) {
        .joblist {
            flex-wrap: wrap;
            &__items {
                width: 50%;
                .job__description {
                    padding: 20px 20px 60px 20px;
                    @include sentence--tablet--basic($space-text);
                    // line-height: 1.4rem;
                }
            }
        }
    }
    @media (max-width: 580px) {
        .joblist {
            flex-direction: column;
            &__items {
                width: 100%;
                .job__description {
                    padding: 20px 10% 60px 10%;
                    @include sentence--mobile--basic($space-text);
                    // line-height: 1.4rem;
                }
            }
        }
    }
    /***********************************************************
                       JOBCASE用ブレイクポイント
    ***********************************************************/
    @media (max-width: 960px) {
        .jobcase {
            &__title {
                padding: 0.8rem;
                h3 {
                    @include sentence--tablet--large($space-lightgreen);
                }
                aside {
                    @include sentence--tablet--small($space-text);
                }
            }
            &__description {
                @include sentence--tablet--basic($space-text);
                margin: 20px 0;
            }
            &__images {
                padding-top: 20px;
            }
        }
    }
    @media (max-width: 750px) {
        .jobcase {
            &__title {
                padding: 0.8rem;
                h3 {
                    @include sentence--tablet--large($space-lightgreen);
                }
                aside {
                    @include sentence--tablet--small($space-text);
                }
            }
            &__description {
                @include sentence--tablet--basic($space-text);
                margin: 20px 0;
            }
            &__images {
                //safariだとflex column がきかないのでblockに変更
                // display: block;
                // padding-top: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                div {
                    width: 90%;
                    padding-top: 30px;
                }
            }
        }
    }
    @media (max-width: 580px) {
        .jobcase {
            &__title {
                padding: 0.8rem;
                h3 {
                    @include sentence--mobile--large($space-lightgreen);
                }
                aside {
                    @include sentence--mobile--small($space-text);
                }
            }
            &__description {
                @include sentence--mobile--basic($space-text);
                margin: 20px 0;
            }
            &__images {
                padding-top: 10px;
            }
        }
    }
    /***********************************************************
                       共通パーツ用ブレイクポイント
    ***********************************************************/
    @media (max-width: 960px) {
        &__title {
            @include section-title--tablet;
        }
        &__description {
            @include sentence--tablet--basic($space-text);
        }
    }
    @media (max-width: 480px) {
        @include base-area--mobile($space-background);
        &__title {
            @include section-title--mobile;
        }
        &__description {
            @include sentence--mobile--basic($space-text);
        }
    }
}


/***********************************************************
                    WORKS GENERAL CLASS
***********************************************************/

.works {
    .emphasis {
        color: $space-lightgreen;
        padding: 0 5px;
    }
    .workslink {
        display: block;
        font-size: 0.8rem;
        margin-top: 10px;
         :before {
            font-family: 'pikufont';
            padding-right: 5px;
            content: "\e9e2";
            color: $space-text;
        }
    }
}